.main_container { display: flex; flex-direction: column; }

.left_box, .right_box { background: yellow; flex-grow: 1; text-align: center; }

.container1_flex { display: flex; border: 10px solid black; height: 500px; flex-direction: row; flex-wrap: wrap-reverse; flex-grow: 4; }

.box { text-align: center; width: 30%; flex-grow: 1; padding-top: 10px; }

.box1 { background:#1abc9c; }
.box2 { background:#3498db; }
.box3 { background:#9b59b6; }
.box4 { background:#34495e; }
.box5 { background:#f1c40f; }
.box6 { background:#e67e22; }
.box7 { background:#e74c3c; }
.box8 { background:#bdc3c7; }
.box9 { background:#2ecc71; }
